# Application config
JWT_SECRET=tawkto-dev-secret

# Use this when running the Nest app on your host machine
MONGODB_URI=
MONGODB_DB_NAME=

# Mongo Express Web UI
# URL: http://localhost:8081
# Username: admin
# Password: admin123
