# Application config
JWT_SECRET=tawkto-dev-secret

# Docker compose infra config
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root
MONGO_INITDB_DATABASE=tawkto
MONGO_EXPRESS_BASICAUTH_USERNAME=admin
MONGO_EXPRESS_BASICAUTH_PASSWORD=admin123
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_TOPIC_PARTITIONS=6
KAFKA_TOPIC_REPLICATION_FACTOR=1

# Use this when running the Nest app on your host machine
MONGODB_URI=
MONGODB_DB_NAME=

# Kafka config (host app -> dockerized kafka)
KAFKA_BROKERS=
KAFKA_CLIENT_ID=
KAFKA_TOPIC_MESSAGE_CREATED=
KAFKA_CONSUMER_GROUP_MESSAGE_INDEXER=

# Optional test flag: enable real Kafka+Elasticsearch pipeline in jest tests
RUN_PIPELINE_E2E=false

# Elasticsearch config (host app -> dockerized elasticsearch)
ELASTICSEARCH_NODE=
ELASTICSEARCH_INDEX_MESSAGES=
