# Application config
JWT_SECRET=tawkto-dev-secret

# Use this when running the Nest app on your host machine
MONGODB_URI=
MONGODB_DB_NAME=

# Kafka config (host app -> dockerized kafka)
KAFKA_BROKERS=
KAFKA_CLIENT_ID=
KAFKA_TOPIC_MESSAGE_CREATED=
KAFKA_CONSUMER_GROUP_MESSAGE_INDEXER=

# Optional test flag: enable real Kafka+Elasticsearch pipeline in jest tests
# RUN_PIPELINE_E2E=true

# Mongo Express Web UI
# URL: http://localhost:8081
# Username: admin
# Password: admin123

# Kafka UI
# URL: http://localhost:8080

# Elasticsearch config (host app -> dockerized elasticsearch)
ELASTICSEARCH_NODE=
ELASTICSEARCH_INDEX_MESSAGES=

# Kibana UI
# URL: http://localhost:5601

# Testing 
RUN_PIPELINE_E2E=false
